stylo/public/js/lib/*
stylo/public/js/stylo/misc/tests/*
stylo/public/js/stylo/views/test_runner.js
stylo/core/doctype/doctype/boilerplate/*
stylo/core/doctype/report/boilerplate/*
stylo/public/js/stylo/class.js
stylo/templates/includes/*
stylo/www/website_script.js
